.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.links{
  position: relative;
  margin: 0px auto;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border-radius: 2px;
  background-color: #3f51b5;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  text-transform: uppercase;
}
.error{
  color: red;
}
.active{
  height: 10px;
  width: 10px;
  background-color: chartreuse;
  border-radius: 50%;
}
.inactive{
  height: 10px;
  width: 10px;
  background-color: #ff6737;
  border-radius: 50%;
}
.MuiButton-outlinedPrimary{
  float: right;
  margin: 20px;
}
#logout-btn{
  float: right;
}